<h2>Gracias por usar nuestra api</h2>
<p>Sera rederigido a la pagina de inicio de sesion</p>

<script>
    setTimeout( () => {
        document.location.href="/api/usuario/login";
    }, 2000)
</script>